{% extends "article/base.html" %}
{% load static %}

{% block title %}
    {{ category.title }}
{% endblock %}

{% block headline %}
    {{ category.title }}
{% endblock %}

{% block breadcrumb %}
    <li class="unavailable"><a href="#">Par catégorie</a></li>
    <li class="current"><a href="#">{{ category.title }}</a></li>
{% endblock %}

{% block content %}

<div class="row">
    <div class="large-12 columns">
        <dl class="sub-nav">
            <dt>Catégorie :</dt>

            <dd class="{% ifequal category.slug "tous" %}active{% endifequal %}">
                <a href="{% url "articles_category" "tous" %}">Tous</a>
            </dd>

            {% for c in all_category %}
                <dd class="{% ifequal category.slug c.slug %}active{% endifequal %}">
                    <a href="{{ c.get_absolute_url }}">{{ c.title }} ({{ c.get_article_count }})</a>
                </dd>
            {% endfor %}
 
            {% if user.is_authenticated %}
                <dd class="{% ifequal category.slug "beta" %}active{% endifequal %}">
                    <a href="{% url "articles_category" "beta" %}">Bêta</a>
                </dd>
            {% endif %}
        </dl>
    </div>
</div>

<div class="row">
    <div class="large-12 columns">
        {% if articles %}
            <div class="article-items">
                {% for article in articles %}
                    {% include "article/article_item.part.html" %}
                {% endfor %}
            </div>
        {% else %}
            <p>Aucun article disponible.</p>
        {% endif %}
    </div>
</div>
{% endblock %}
