{% extends "article/base.html" %}
{% load emarkdown %}
{% load humane_date %}

{% block title %}
    {{ article.title }}
{% endblock %}

{% block headline %}
    {% if article.thumbnail %}
        <span>
            <img src="{{ article.thumbnail.url }}" alt="" class="hide-for-small"/>
        </span>
    {% endif %}
    <a href="{{ article.get_absolute_url }}">{{ article.title }}</a>
    {% if article.is_beta %}
        <small><span class="label alert">BETA</span></small>
    {% endif %}
    <br />
    <small>{{ article.description }}</small>
{% endblock %}

{% block breadcrumb %}
    <li class="current"><a href="#">{{ article.title }}</a></li>
{% endblock %}

{% block headline-actions %}
    {% ifequal user article.author %}
        <form action="{% url "pdp.article.views.modify" %}" method="POST">
            <div class="button-group">
                <a href="/articles/editer?article={{ article.pk }}" class="button">
                    <i class="icon-pencil"></i>
                    Éditer
                </a>
                <a href="#" class="button secondary" data-dropdown="delete-drop">
                    Supprimer
                </a>
                <div id="delete-drop" class="f-dropdown small content" data-dropdown-content>
                    <p>
                        Si vous supprimez cet article, il sera alors impossible de le modifier/consulter de nouveau.
                    </p>
                    <button type="submit" name="delete" class="button expand alert">
                        <i class="icon-remove"></i>
                        Confirmer la suppression
                    </button>
                </div>
            </div>
            <br/>
            {% if not article.is_visible %}
                <button name="beta" class="button expand"> 
                    {% if not article.is_beta %}
                        Activer la bêta
                    {% else %}
                        Désactiver la bêta
                    {% endif %}
                </button>
                <button name="pending" class="button expand secondary" {% if article.is_pending %}disabled{% endif %}>
                    {% if not article.is_pending %}
                        Demander la publication
                    {% else %}
                        En attente de validation…
                    {% endif %}
                </button>
            {% endif %}

            <input type="hidden" name="article" value="{{ article.pk }}" />
            {% csrf_token %}
        </form>
    {% endifequal %}
{% endblock %}

{% block content %}

{% if article.is_visible %}
    {% include "article/view_pager.part.html" %}
{% endif %}

<div class="row">
    <div class="large-12 columns">
        <p>
            Rédigé par
            {% with member=article.author %}
                {% include "member/member_item_common.part.html" %}
            {% endwith %}
            et publié
            {{ article.pubdate|humane_date }}.
            <br />
            Tags : 
            {% for tag in article.tags.all %}
                <a href="{% url "pdp.article.views.tag" name=tag.name %}"
                    class="label secondary">
                    {{ tag.name }}
                </a>
            {% empty %}
                aucun
            {% endfor %}
        </p>
    </div>
</div>

<div class="row">
    <div class="large-12 columns">
        <a href="{% url "pdp.article.views.download" %}?article={{ article.pk }}&format=pdf"
            class="button split">
            Télécharger (PDF)
            <span data-dropdown="drop-download"></span>
        </a>
        <ul id="drop-download" class="f-dropdown" data-dropdown-content>
            <li>
                <a href="{% url "pdp.article.views.download" %}?article={{ article.pk }}&format=json">
                    Télécharger (JSON)
                </a>
            </li>
        </ul>
    </div>
</div>

<div class="row">
    <div class="large-12 columns">
        {{ article.text|emarkdown }}
    </div>
</div>

{% if article.is_visible %}
    {% include "article/view_pager.part.html" %}
{% else %}
<div class="row">
    <div class="large-12 columns">
        <div class="panel">
            <p>
                {% if not article.is_beta %}
                    Cet article n’a pas encore été mis en ligne.
                {% else %}
                    Cet article n’a pas encore été mis en ligne mais est
                    visible pour les membres possédant le lien vers celui-ci
                    (période de bêta activée).
                {% endif %}
            </p>
        </div>
    </div>
</div>
{% endif %}

{% endblock %}
